@charset "UTF-8";
.letras {
  padding: 15px;
  padding-top: 10px;
  list-style-type: none;
  font-size: 35px;
  text-align: center;
}

.paddingDerecha {
  padding-right: 20px;
}

.letrasOscuras {
  color: #191340;
}

.alinearDerecha {
  text-align: right;
}

.transformarTexto {
  transition: 1.5s;
}

.transformarTexto:hover {
  transform: scale(1.1, 1.1);
}

body {
  background-color: slategrey;
  display: flex;
  flex-direction: column;
}

img {
  padding: 10px;
}

ul {
  display: grid;
  list-style: none;
  padding-left: 0px;
}

main {
  background-color: #F26938;
  display: grid;
  line-height: 1.7;
  font-family: none;
}
main .tamañoGuisante {
  position: relative;
  width: 100px;
  height: 80px;
  right: 20px;
  transition: all 1.5s;
}
@media (max-width: 576px) {
  main .tamañoGuisante {
    width: 80px;
    height: 60px;
  }
}
main .tamañoGuisante:hover {
  transform: scale(1.1, 1.1);
}
main .imagenMazmorra {
  position: relative;
  height: 150px;
  width: 180px;
  right: 20px;
  transition: all 1.5s;
}
@media (max-width: 576px) {
  main .imagenMazmorra {
    height: 130px;
    width: 160px;
  }
}
main .imagenMazmorra:hover {
  transform: scale(1.1, 1.1);
}
main .tamañoSecreto {
  position: relative;
  width: 130px;
  height: 110px;
  right: 20px;
  transition: all 1.5s;
}
@media (max-width: 576px) {
  main .tamañoSecreto {
    width: 110px;
    height: 90px;
  }
}
main .tamañoSecreto:hover {
  transform: scale(1.1, 1.1);
}
main .tamañoManuel {
  position: relative;
  width: 90px;
  height: 110px;
  right: 20px;
  transition: all 1.5s;
}
@media (max-width: 576px) {
  main .tamañoManuel {
    width: 60px;
    height: 80px;
  }
}
main .tamañoManuel:hover {
  transform: scale(1.1, 1.1);
}
main .posicionIcon {
  position: relative;
  top: 70px;
  left: 1300px;
}
@media (max-width: 576px) {
  main .posicionIcon {
    left: 350px;
    height: 30%;
    width: 16%;
  }
}
main .tamañoInGame {
  width: 4%;
  height: 24%;
  position: relative;
  bottom: 60px;
  left: 1320px;
}
@media (max-width: 576px) {
  main .tamañoInGame {
    width: 10%;
    height: 21%;
    left: 370px;
  }
}

header {
  text-align: center;
  background-color: slategray;
  padding: 40px;
  display: grid;
  justify-content: center;
  font-size: 500%;
  color: #F26938;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media (max-width: 576px) {
  header {
    font-size: 300%;
  }
}
header .tamañoLogo {
  height: 200px;
  width: 600px;
}
@media (max-width: 576px) {
  header .tamañoLogo {
    height: 150px;
    width: 440px;
  }
}

footer {
  text-align: right;
  background-color: slategray;
  display: grid;
}
footer .tamañoFlecha {
  position: relative;
  top: 22px;
  height: 70px;
  width: 70px;
}
footer .textoMediano {
  font-size: x-large;
}
@media (max-width: 576px) {
  footer .textoMediano {
    font-size: 15px;
  }
}
footer .tamañoTextarea {
  width: 654px;
  height: 190px;
}
@media (max-width: 576px) {
  footer .tamañoTextarea {
    width: 407px;
    height: 120px;
  }
}

a {
  text-decoration: none;
  color: #191340;
}
@media (max-width: 576px) {
  a {
    font-size: 65%;
  }
}

p {
  padding: 15px;
  padding-top: 20px;
  font-size: 20px;
  list-style-type: none;
  color: #191340;
}
@media (max-width: 576px) {
  p {
    font-size: 15px;
  }
}

.tamañoPrueba {
  width: 40%;
  height: 40%;
  position: relative;
  left: 80%;
  bottom: 180px;
}

.moverTienda {
  position: relative;
  left: 1000px;
  bottom: 185px;
}

.moverJefe {
  position: relative;
  bottom: 400px;
}

.tamañoLlave {
  height: 130px;
  width: 70px;
  position: relative;
  top: 50px;
}

.tamañoFogata {
  height: 30%;
  width: 30%;
  position: relative;
  top: 150px;
  left: 30px;
}

.moverBala {
  position: relative;
  left: 30px;
}

.tamañoRoll {
  height: 30%;
  width: 30%;
  position: relative;
}

.moverDado {
  position: relative;
  left: 1200px;
  bottom: 300px;
}

.moverCartucho {
  position: relative;
  left: 1250px;
  bottom: 250px;
}

.moverSoldado {
  position: relative;
  left: 1300px;
  bottom: 300px;
}

.moverJefe {
  position: relative;
  left: 1000px;
  top: 10px;
}

.paddingTop {
  padding-top: 70px;
}

.paddingBottom {
  padding-bottom: 70px;
}

.longitudMaxima {
  width: 60%;
}

.longitudMaximaMenor {
  width: 65%;
}

.moverArriba {
  position: relative;
  bottom: -25px;
}

.justificarIzquierdaMayor {
  justify-content: left;
  position: relative;
  max-width: 92%;
}

.moverAbajoImagen {
  position: relative;
  top: 230px;
}

.moverArribaImagen {
  position: relative;
  bottom: -50px;
}

.soloJustificarIzquierda {
  justify-content: left;
  max-width: 50%;
  position: relative;
  top: 165px;
}

.alturaMaxima {
  max-height: 400px;
}

.justificarYMover {
  justify-content: left;
  position: relative;
  bottom: 370px;
  max-width: 50%;
}

.moverMasArriba {
  position: relative;
  bottom: 30px;
}

.moverTextoRoll {
  max-width: 65%;
  position: relative;
  bottom: 250px;
  left: 600px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.longitudMaximaMovile {
  max-width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

/* grid areas */
main {
  grid-area: contenido;
}

footer {
  grid-area: footer;
}

header {
  grid-area: header;
}

.navegacion {
  background-color: #F26938;
}

.alinearCentro {
  align-content: center;
}

/* grilla general*/
.grillaGeneral {
  display: grid;
  gap: 10px;
  grid-template-areas: "header" "contenido" "footer";
}

@media (max-width: 576px) {
  .grillaGeneral {
    display: grid;
    grid-template-areas: "header" "contenido" "footer";
  }
  .longitudMaximaMovile {
    max-width: 500px;
  }
  .tamañoPrueba {
    width: 45%;
    height: 35%;
    left: 100%;
    top: -130px;
  }
}/*# sourceMappingURL=estilos.css.map */