@charset "UTF-8";
.letras {
  padding: 15px;
  padding-top: 10px;
  list-style-type: none;
  font-size: 35px;
  text-align: center;
}

.paddingDerecha {
  padding-right: 20px;
}

.letrasOscuras {
  color: #191340;
}

.alinearDerecha {
  text-align: right;
}

.transformarTexto {
  transition: 1.5s;
}

.transformarTexto:hover {
  transform: scale(1.1, 1.1);
}

body {
  background-color: slategrey;
  display: flex;
  flex-direction: column;
}

img {
  padding: 10px;
  grid-area: img;
}

ul {
  display: grid;
  list-style: none;
  padding-left: 0px;
}

main {
  background-color: #F26938;
  display: grid;
  line-height: 1.7;
  font-family: none;
  grid-area: contenido;
}
main .navegacion {
  background-color: #F26938;
}

header {
  text-align: center;
  background-color: slategray;
  padding: 40px;
  display: grid;
  justify-content: center;
  font-size: 500%;
  color: #F26938;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  grid-area: header;
}
@media (max-width: 992px) {
  header {
    font-size: 400%;
  }
}
@media (max-width: 576px) {
  header {
    font-size: 300%;
  }
}
header .tamañoLogo {
  height: 200px;
  width: 600px;
}
@media (max-width: 992px) {
  header .tamañoLogo {
    height: 175px;
    width: 520px;
  }
}
@media (max-width: 576px) {
  header .tamañoLogo {
    height: 150px;
    width: 440px;
  }
}

footer {
  text-align: right;
  background-color: slategray;
  display: grid;
  justify-content: end;
  grid-area: footer;
}
footer .tamañoFlecha {
  height: 70px;
  width: 70px;
}
@media (max-width: 992px) {
  footer .tamañoFlecha {
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 576px) {
  footer .tamañoFlecha {
    height: 50px;
    width: 50px;
  }
}
footer .textoMediano {
  font-size: x-large;
}
@media (max-width: 992px) {
  footer .textoMediano {
    font-size: 19.5px;
  }
}
@media (max-width: 576px) {
  footer .textoMediano {
    font-size: 15px;
  }
}
footer .tamañoTextarea {
  width: 654px;
  height: 190px;
}
@media (max-width: 992px) {
  footer .tamañoTextarea {
    width: 530.5px;
    height: 155px;
  }
}
@media (max-width: 576px) {
  footer .tamañoTextarea {
    width: 407px;
    height: 120px;
  }
}

a {
  text-decoration: none;
  color: #191340;
}
@media (max-width: 992px) {
  a {
    font-size: 80%;
  }
}
@media (max-width: 576px) {
  a {
    font-size: 65%;
  }
}

p {
  padding: 15px;
  padding-top: 20px;
  font-size: 20px;
  list-style-type: none;
  color: #191340;
  grid-area: texto;
}
@media (max-width: 992px) {
  p {
    font-size: 17.5px;
  }
}
@media (max-width: 576px) {
  p {
    font-size: 15px;
  }
}

/* grilla general */
.grillaGeneral {
  display: grid;
  gap: 10px;
  grid-template-areas: "header" "contenido" "footer";
}
@media (max-width: 576px) {
  .grillaGeneral {
    display: grid;
    grid-template-areas: "header" "contenido" "footer";
  }
}

.tamañoGuisante {
  position: relative;
  width: 100px;
  height: 80px;
  right: 20px;
  transition: all 1.5s;
}
@media (max-width: 992px) {
  .tamañoGuisante {
    width: 90px;
    height: 70px;
  }
}
@media (max-width: 576px) {
  .tamañoGuisante {
    width: 80px;
    height: 60px;
  }
}

.tamañoGuisante:hover {
  transform: scale(1.1, 1.1);
}

.imagenMazmorra {
  position: relative;
  height: 150px;
  width: 180px;
  right: 20px;
  transition: all 1.5s;
}
@media (max-width: 992px) {
  .imagenMazmorra {
    height: 120px;
    width: 170px;
  }
}
@media (max-width: 576px) {
  .imagenMazmorra {
    height: 130px;
    width: 160px;
  }
}

.imagenMazmorra:hover {
  transform: scale(1.1, 1.1);
}

.tamañoSecreto {
  position: relative;
  width: 130px;
  height: 110px;
  right: 20px;
  transition: all 1.5s;
}
@media (max-width: 992px) {
  .tamañoSecreto {
    width: 120px;
    height: 80px;
  }
}
@media (max-width: 576px) {
  .tamañoSecreto {
    width: 110px;
    height: 90px;
  }
}

.tamañoSecreto:hover {
  transform: scale(1.1, 1.1);
}

.tamañoManuel {
  position: relative;
  width: 90px;
  height: 110px;
  right: 20px;
  transition: all 1.5s;
}
@media (max-width: 992px) {
  .tamañoManuel {
    width: 75px;
    height: 95px;
  }
}
@media (max-width: 576px) {
  .tamañoManuel {
    width: 60px;
    height: 80px;
  }
}

.tamañoManuel:hover {
  transform: scale(1.1, 1.1);
}

.tamañoPrueba {
  width: 30%;
  height: 90%;
}
@media (max-width: 992px) {
  .tamañoPrueba {
    width: 35%;
    height: 70%;
  }
}
@media (max-width: 576px) {
  .tamañoPrueba {
    width: 60%;
    height: 50%;
  }
}

@media (max-width: 992px) {
  .posicionIcon {
    width: 65%;
    height: 90%;
  }
}
@media (max-width: 576px) {
  .posicionIcon {
    width: 60%;
    height: 85%;
  }
}

@media (max-width: 992px) {
  .tamañoInGame {
    width: 50%;
    height: 80%;
  }
}
@media (max-width: 576px) {
  .tamañoInGame {
    width: 45%;
    height: 70%;
  }
}

@media (max-width: 992px) {
  .tamañoCofres {
    width: 100%;
    height: 90%;
  }
}
@media (max-width: 576px) {
  .tamañoCofres {
    width: 70%;
    height: 60%;
  }
}

@media (max-width: 992px) {
  .tamañoCofresGrandes {
    width: 75%;
    height: 135%;
  }
}
@media (max-width: 576px) {
  .tamañoCofresGrandes {
    width: 55%;
    height: 85%;
  }
}

@media (max-width: 992px) {
  .tamañoLetras {
    width: 60%;
    height: 65%;
  }
}
@media (max-width: 576px) {
  .tamañoLetras {
    width: 50%;
    height: 50%;
  }
}

.tamañoTienda {
  width: 60%;
  height: 70%;
}
@media (max-width: 992px) {
  .tamañoTienda {
    width: 55%;
    height: 55%;
  }
}
@media (max-width: 576px) {
  .tamañoTienda {
    width: 50%;
    height: 50%;
  }
}

.tamañoJefe {
  width: 50%;
  height: 70%;
}
@media (max-width: 992px) {
  .tamañoJefe {
    width: 55%;
    height: 55%;
  }
}
@media (max-width: 576px) {
  .tamañoJefe {
    width: 50%;
    height: 50%;
  }
}

.tamañoLlave {
  height: 140px;
  width: 5%;
}
@media (max-width: 992px) {
  .tamañoLlave {
    width: 10%;
    height: 80%;
  }
}
@media (max-width: 576px) {
  .tamañoLlave {
    width: 20%;
    height: 60%;
  }
}

.tamañoFogata {
  height: 90%;
  width: 30%;
}
@media (max-width: 992px) {
  .tamañoFogata {
    width: 45%;
    height: 70%;
  }
}
@media (max-width: 576px) {
  .tamañoFogata {
    width: 80%;
    height: 70%;
  }
}

.tamañoTele {
  width: 10%;
  height: 90%;
}
@media (max-width: 992px) {
  .tamañoTele {
    width: 15%;
    height: 90%;
  }
}
@media (max-width: 576px) {
  .tamañoTele {
    width: 35%;
    height: 60%;
  }
}

.tamañoBala {
  width: 6%;
  height: 90%;
}
@media (max-width: 992px) {
  .tamañoBala {
    width: 10%;
    height: 85%;
  }
}
@media (max-width: 576px) {
  .tamañoBala {
    width: 30%;
    height: 55%;
  }
}

.tamañoRoll {
  height: 115%;
  width: 30%;
}
@media (max-width: 992px) {
  .tamañoRoll {
    width: 40%;
    height: 90%;
  }
}
@media (max-width: 576px) {
  .tamañoRoll {
    width: 90%;
    height: 75%;
  }
}

.tamañoDado {
  width: 25%;
  height: 60%;
}
@media (max-width: 992px) {
  .tamañoDado {
    width: 25%;
    height: 65%;
  }
}
@media (max-width: 576px) {
  .tamañoDado {
    width: 40%;
    height: 43%;
  }
}

.tamañoCartucho {
  width: 15%;
  height: 75%;
}
@media (max-width: 992px) {
  .tamañoCartucho {
    width: 17%;
    height: 75%;
  }
}
@media (max-width: 576px) {
  .tamañoCartucho {
    width: 25%;
    height: 50%;
  }
}

.tamañoSoldado {
  width: 30%;
  height: 95%;
}
@media (max-width: 992px) {
  .tamañoSoldado {
    width: 35%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  .tamañoSoldado {
    width: 35%;
    height: 45%;
  }
}

.paddingTop {
  padding-top: 50px;
}

.paddingBottom {
  padding-bottom: 70px;
}

.longitudMaxima {
  width: 65%;
}
@media (max-width: 576px) {
  .longitudMaxima {
    width: 100%;
  }
}

.alturaMaxima {
  max-height: 400px;
}

.moverMasArriba {
  position: relative;
  bottom: 30px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.flexImagenes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 576px) {
  .flexImagenes {
    flex-direction: column;
  }
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridPrimerIntento {
  display: grid;
}

.icono {
  grid-area: icono;
}

.inGame {
  grid-area: inGame;
}

.grillaPrimerIntento {
  display: grid;
  grid-template-areas: "texto icono" "texto inGame";
  align-items: center;
  grid-template-rows: 100px 100px;
  grid-template-columns: 85% auto;
  padding-top: 30px;
  justify-items: center;
}
@media (max-width: 576px) {
  .grillaPrimerIntento {
    grid-template-columns: 75% auto;
  }
}

.cofreMarron {
  grid-area: cofreMarron;
}

.letraD {
  grid-area: letraD;
}

.cofreAzul {
  grid-area: cofreAzul;
}

.letraC {
  grid-area: letraC;
}

.cofreVerde {
  grid-area: cofreVerde;
}

.letraB {
  grid-area: letraB;
}

.cofreRojo {
  grid-area: cofreRojo;
}

.letraA {
  grid-area: letraA;
}

.cofreNegro {
  grid-area: cofreNegro;
}

.letraS {
  grid-area: letraS;
}

.grillaCofres {
  display: grid;
  grid-template-areas: "cofreMarron letraD cofreAzul letraC cofreVerde letraB" "cofreRojo cofreRojo letraA cofreNegro cofreNegro letraS";
  grid-template-rows: 45% 45%;
  grid-template-columns: repeat(6, 75px);
  justify-items: center;
  align-items: center;
}
@media (max-width: 992px) {
  .grillaCofres {
    grid-template-rows: 40% 40%;
    grid-template-columns: repeat(6, 70px);
  }
}
@media (max-width: 576px) {
  .grillaCofres {
    grid-template-rows: 65% 65%;
    grid-template-columns: repeat(6, 80px);
  }
}

* {
  padding: 0;
  margin: 0;
}

.alinearCentro {
  align-content: center;
}/*# sourceMappingURL=estilos.css.map */