*{
    padding: 0;
    margin: 0;
}
img{
    padding: 10px;
}

.paddingDerecha{
    padding-right: 20px;
}
.parrafo{
    font-size: 20;
}
body{
    background-color: slategrey;
    display: flex;
    flex-direction: column;
}

ul{
    display: grid;
    list-style: none;
    padding-left: 0px;
}

main{
    background-color: #F26938;
    display: grid;
}

.letrasOscuras{
    color: #191340;
}

.textoMediano{
    font-size: x-large;
}

header{
    text-align: center;
    background-color: slategray;
    padding: 40px;
    display: grid;
    justify-content: center;
    font-size: 500%;
    color: #F26938;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    text-align: right;
    background-color: slategray;
    display: grid;
}

main{
    line-height: 1.7;
}

.alinearDerecha{
    text-align: right;
}

.letras{
    padding: 15px;
    padding-top: 10px;
    list-style-type: none;
    font-size: 35px;
    text-align: center;

}

a{
    text-decoration: none;
    color: #191340;
}

.tamañoFlecha{
    position: relative;
    top: 22px;
    height: 70px;
    width: 70px;
}
.tamañoLogo{
    height: 200px;
    width: 600px;
}

.paddingTop{
    padding-top: 70px;
}

.paddingBottom{
    padding-bottom: 70px;
}

.tamañoImagen{
    position: relative;
    width: 100px;
    height: 80px;
    right: 20px;
    transition: all 1.5s;
}

.tamañoImagen:hover{
    transform: scale(1.1, 1.1);
}

.imagenMazmorra{
    position: relative;
    right: 20px;
    transition: all 1.5s;
}

.imagenMazmorra:hover{
    transform: scale(1.1, 1.1);
}

.tamañoSecreto{
    position: relative;
    width: 130px;
    height: 110px;
    right: 20px;
    transition: all 1.5s;
}

.tamañoSecreto:hover{
    transform: scale(1.1, 1.1);
}

.tamañoManuel{
    position: relative;
    width: 90px;
    height: 110px;
    right: 20px;
    transition: all 1.5s;
}

.tamañoManuel:hover{
    transform: scale(1.1, 1.1);
}

.transformarTexto{
    transition: 1.5s;
}

.transformarTexto:hover{
    transform: scale(1.1, 1.1);
}

p{
    padding: 15px;
    padding-top: 20px;
    font-size: 20px;
    list-style-type: none ;
    color: #191340;
}

.longitudMaxima{
    width: 60%;
}

.tamañoPrueba{

    width: 40%;
    height: 40%;
    position: relative;
    left: 100%;
    bottom: 180px;
}

.tamañoInGame{
    width: 4%;
    height: 21%;
    position: relative;
    bottom: 60px;
    left: 1320px;
}

.posicionIcon{
    position: relative;
    top: 70px;
    left: 1300px; 
}

.longitudMaximaMenor{
    width: 65%;
}
.moverArriba{
    position: relative;
    bottom: -25px;
}

.justificarIzquierdaMayor{
    justify-content: left;
    position: relative;
    max-width: 92%;
}

.moverAbajoImagen{
    position: relative;
    top: 230px;
}

.moverArribaImagen{
    position: relative;
    bottom: -50px;
}

.soloJustificarIzquierda{
    justify-content: left;
    max-width: 50%;
    position: relative;
    top: 165px;
}

.moverTienda{
    position: relative;
    left: 1000px;
    bottom: 185px;
}

.moverJefe{
    position: relative;
    bottom: 400px;
}

.alturaMaxima{
    max-height: 400px;
}

.justificarYMover{
    justify-content: left;
    position: relative;
    bottom: 370px;
    max-width: 50%;
}

.tamañoLlave{
    height: 130px;
    width: 70px;
    position: relative;
    top: 50px;
}

.tamañoFogata{
    height: 30%;
    width: 30%;
    position: relative;
    top: 150px;
    left: 30px;
}

.moverMasArriba{
    position: relative;
    bottom: 30px;
}

.moverBala{
    position: relative;
    left: 30px;
}

.tamañoRoll{
    height: 30%;
    width: 30%;
    position:relative;
}

.moverTextoRoll{
    max-width: 65%;
    position: relative;
    bottom: 250px;
    left: 600px;
}

.moverDado{
    position: relative;
    left: 1200px;
    bottom: 300px;
}

.moverCartucho{
    position: relative;
    left: 1250px;
    bottom: 250px;
}

.moverSoldado{
    position: relative;
    left: 1300px;
    bottom: 300px;
}

.moverJefe{
    position: relative;
    left: 1000px;
    top: 10px;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* grid areas */

main{
    grid-area: contenido;
}

footer{
    grid-area: footer;
}

header{
    grid-area: header;
}

.longitudMaximaMovile{
    max-width: 100%;
}

.navegacion{
    background-color: #F26938;
}

.alinearCentro{
    align-content: center;
}


/* grilla general*/

.grillaGeneral{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "contenido"
    "footer" ;
}

@media(max-width:576px){

    .grillaGeneral{
        display: grid;
        grid-template-areas: 
        "header"
        "contenido"
        "footer" ;
    }

    .longitudMaximaMovile{
        max-width: 500px;
    }

    header{
        font-size: 300%;
    }

    .tamañoLogo{
        height: 150px;
        width: 440px;
    }

    p{
        font-size: 12px;
    }

    a{
        font-size: 65%;
    }

    .tamañoPrueba {
        width: 45%;
        height: 35%;
        left: 100%;
        top: -130px;
    }

    .tamañoInGame{
        width: 10%;
        height: 21%;
        left: 370px;
    }

    .posicionIcon{
        left: 350px;
        height: 30%;
        width: 16%;
    }

    .textoMediano{
        font-size: 15px;
    }

}