.paddingTop{
    padding-top: 50px;
}

.paddingBottom{
    padding-bottom: 70px;
}

.longitudMaxima{
    width: 65%;
    @media(max-width:576px){
        width: 100%;
    }
}

.alturaMaxima{
    max-height: 400px;
}

.moverMasArriba{
    position: relative;
    bottom: 30px;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.flexImagenes{
    display: flex;
    flex-direction: row;
    align-items: center;
    @media(max-width:576px){
        flex-direction: column;
    }
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridPrimerIntento{
    display: grid;
}