body{
    background-color: slategrey;
    display: flex;
    flex-direction: column;
}

img{
    padding: 10px;
    grid-area: img;
}

ul{
    display: grid;
    list-style: none;
    padding-left: 0px;
}

main{
    background-color: #F26938;
    display: grid;
    line-height: 1.7;
    font-family: none;
    grid-area: contenido;
    
    .navegacion{
        background-color: #F26938;
    }

}

header{
    text-align: center;
    background-color: slategray;
    padding: 40px;
    display: grid;
    justify-content: center;
    font-size: 500%;
    color: #F26938;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-area: header;
    @media(max-width:992px){
        font-size: 400%;
    }
    @media(max-width:576px){
        font-size: 300%;
    }
         
    .tamañoLogo{
        height: 200px;
        width: 600px;
        @media(max-width:992px){
            height: 175px;
            width: 520px;
        }
        @media(max-width:576px){
            height: 150px;
            width: 440px;
        }
    }
}

footer{
    text-align: right;
    background-color: slategray;
    display: grid;
    justify-content: end;
    grid-area: footer;

    .tamañoFlecha{
        height: 70px;
        width: 70px;
        @media(max-width:992px){
            height: 60px;
            width: 60px;
        }
        @media(max-width:576px){
            height: 50px;
            width: 50px;
        }
    }

    .textoMediano{
        font-size: x-large;
        @media(max-width:992px){
            font-size: 19.5px;
        }
        @media(max-width:576px){
            font-size: 15px;
        }
    }

    .tamañoTextarea{
        width: 654px;
        height: 190px;
        @media(max-width:992px){
            width: 530.5px;
            height: 155px;
        }
        @media(max-width:576px){
            width: 407px;
            height: 120px;
        }
    }
}

a{
    text-decoration: none;
    color: #191340;
    @media(max-width:992px){
        font-size: 80%;
    }
    @media(max-width:576px){
        font-size: 65%;
    }
}

p{
    padding: 15px;
    padding-top: 20px;
    font-size: 20px;
    list-style-type: none ;
    color: #191340;
    grid-area: texto;
    @media(max-width:992px){
        font-size: 17.5px;
    }
    @media(max-width:576px){
        font-size: 15px;
    }


}

/* grilla general */
.grillaGeneral{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "contenido"
    "footer" ;
    @media(max-width:576px){
        display: grid;
        grid-template-areas: 
        "header"
        "contenido"
        "footer" ;
    }
}