
.moverTienda{
    position: relative;
    left: 1000px;
    bottom: 185px;
}

.moverJefe{
    position: relative;
    bottom: 400px;
}

.tamañoLlave{
    height: 130px;
    width: 70px;
    position: relative;
    top: 50px;
}

.tamañoFogata{
    height: 30%;
    width: 30%;
    position: relative;
    top: 150px;
    left: 30px;
}

.moverBala{
    position: relative;
    left: 30px;
}

.tamañoRoll{
    height: 30%;
    width: 30%;
    position:relative;
}

.moverDado{
    position: relative;
    left: 1200px;
    bottom: 300px;
}

.moverCartucho{
    position: relative;
    left: 1250px;
    bottom: 250px;
}

.moverSoldado{
    position: relative;
    left: 1300px;
    bottom: 300px;
}

.moverJefe{
    position: relative;
    left: 1000px;
    top: 10px;
}