@import "fuentes";
@import "generales";
@import "imagenesIndv";
@import "boxModeling";

*{
    padding: 0;
    margin: 0;
}



/* grid areas */




.navegacion{
    background-color: #F26938;
}

.alinearCentro{
    align-content: center;
}


/* grilla general*/


@media(max-width:576px){

    .longitudMaximaMovile{
        
    }
}