@import "fuentes";
@import "generales";
@import "imagenesIndv";
@import "boxModeling";

*{
    padding: 0;
    margin: 0;
}



/* grid areas */

main{
    grid-area: contenido;
}

footer{
    grid-area: footer;
}

header{
    grid-area: header;
}

.navegacion{
    background-color: #F26938;
}

.alinearCentro{
    align-content: center;
}


/* grilla general*/

.grillaGeneral{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "contenido"
    "footer" ;
}

@media(max-width:576px){

    .grillaGeneral{
        display: grid;
        grid-template-areas: 
        "header"
        "contenido"
        "footer" ;
    }

    .longitudMaximaMovile{
        max-width: 500px;
    }


    .tamañoPrueba {
        width: 45%;
        height: 35%;
        left: 100%;
        top: -130px;
    }

    .posicionIcon{
        left: 350px;
        height: 30%;
        width: 16%;
    }

    .tamañoIngame{
        width: 10%;
        height: 21%;
        left: 370px;
    }
}