@import "fuentes";
@import "generales";
@import "imagenesIndv";
@import "boxModeling";

*{
    padding: 0;
    margin: 0;
}

.navegacion{
    background-color: #F26938;
}

.alinearCentro{
    align-content: center;
}
